{% extends "layout.html" %}
{% block title %} User Manager {% endblock %}


{% block navbar %}
  {{ include('/partials/navbar.html') }}
{% endblock %}

{% block aside %}
  {{ include('/partials/aside.html') }}
{% endblock %}

{% block content_header %}
  {{ include('/partials/content_header.html') }}
{% endblock %}

{% block container %}
{{ include('/partials/flash.html') }}

<div class="row">
 <div class="col-md-12">
   <div class="card card-success">
     <div class="card-header">
       <h3 class="card-title">User Manager</h3>
       <div class="card-tools">
         <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
         </button>

         <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
         </button>
       </div>
       <!-- /.card-tools -->
     </div>
     <!-- /.card-header -->
     <div class="card-body">
       <form role="form" action="{% if user %} {{url_for('update_user')}} {% else %} {{url_for('add_user')}} {% endif %}" method="post" enctype="multipart/form-data">
          <div class="form-group">
           <label for="name">Name</label>
            <input type="text" class="form-control " id="name" name="name" value="{{user.name}}" placeholder="Enter name">
          </div>

          <div class="form-group">
           <label for="email">email</label>
            <input type="email" class="form-control " id="email" name="email" value="{{user.email}}" placeholder="Enter email">
          </div>

          <div class="form-group">
           <label for="password">Password</label>
            <input type="password" class="form-control " id="password" name="password" value="" placeholder="Enter your password" {% if user %} disabled {% endif %}>
          </div>

          <div class="form-group">
           <label for="rank">Rank</label>
            <select class="form-control" name="rank">
              <option value="">-- select rank --</option>
              {% for key, role in roles %}
                {% if user.rank == role.id %}
                    <option value="{{role.id}}" selected>{{ role.rank }}</option>
                {% else %}
                   <option value="{{role.id}}">{{ role.rank }}</option>
                {% endif %}

              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            {{user.privileges.read}}
              <input type="checkbox" id="read" name="read" {% if 'read' in user.privileges %} checked {% endif %}>
           <label for="read">Give permission to read posts</label>

          </div>
          <div class="form-group">
            <input type="checkbox" id="update" name="update" {% if 'update' in user.privileges %} checked {% endif %}>
           <label for="update">Give permission to upadte posts</label>
          </div>
          <div class="form-group">
            <input type="checkbox" id="delete" name="delete" {% if 'delete' in user.privileges %} checked {% endif %}>
           <label for="delete">Give permission to delete posts</label>
          </div>


        {% if user %}
        <input type="hidden" name="id" value="{{ user.id }}">

        <button type="submit" class="form-control" style="background-color:#007bff;
           color:#fff;" name="updates" value="submit">Update</button>
        {% else %}
        <button type="submit" class="form-control" style="background-color:#007bff;
           color:#fff;" name="add" value="submit">Add</button>
        {% endif %}



  <!-- /.card-body -->
 </form>
  </div>
     <!-- /.card-body -->
   </div>
   <!-- /.card -->
 </div>
<!------------------------>
 <!-- /.col -->
</div>
{% endblock %}
